* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f2f0;
  padding: 10px 20px;
}

#logo {
  height: 55px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #46352A;
  font-size: 16px;
  font-family: sans-serif;
}

  /* section 1 */
.hero {
  display: flex;
  width: 100%;
  height: 50vh;
}

.hero-left {
  flex: 1;
}

.hero-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-right {
  flex: 1;
  background-color:#46352A;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.hero-right img {
  height: 60px;
  margin-bottom: 1rem;
  filter: invert(1);
}

.hero-right p {
  margin-bottom: 1rem;
  font-family: math;
  color: #f2efeebd;
  font-size: 25px;
}


/* section 2 */

.why-choose-us {
  text-align: center;
  padding: 2rem;
  background-color: #f5f2f0; 
  font-family: 'Georgia', serif;
}

.why-choose-us h2 {
  font-size: revert-layer;
  margin-bottom: 2rem;
  font-family: math;
}

.why-choose-us > p {
  text-align: justify;
  margin: 0 auto 2rem;
  color: #333;
  max-width: 800px;
}

.feature p {
  color: #4d382fad;
  font-weight: 500;
  text-align: center;
  margin-top: 1rem;
}

.features {
  display: flex;
  justify-content: center;
  gap: 5rem; 
  flex-wrap: wrap;
  margin-top: 2rem;
}

.feature {
  background-color: #f5f2f0;
  border: 1px solid #4d382f;
  padding: 1.5rem;
  width: 200px;
  border-radius: 8px;
  margin-bottom: 2rem; 
}

.feature img {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}


/* barre verte */

.barre-verte {
  background-color: #475a3b;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Georgia', serif;
  font-size: 19px;
  letter-spacing: 1px;
}

/* section 3 */

.the-last {
  text-align: center;
  padding: 3rem;
  font-family: cursive;
}

.products {
  background-color: #f5f5f5;
  padding: 4rem 2rem;
  text-align: center;
}

.products h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 60px;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 2px rgb(20 112 51 / 34%);
  width: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 350px; 
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%;
}

.card-body h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.card-body .price {
  color: #475a3b;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-body .description {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.card-body button {
  background-color: #475a3b;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: auto; 
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

/* section 4 */

h4 {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
  margin-top: -40px;
  font-size: 20px;
}


body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

.section-4 {
  max-width: 400px;
  background: #fff;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 2px rgb(20 112 51 / 34%);
}

.section-4 h4 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.section-4 label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
}

.section-4 input[type="text"],
.section-4 input[type="email"],
.section-4 textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.section-4 input[type="submit"] {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #475a3b;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 2px rgb(20 112 51 / 34%);
  width: 100%;
  max-width: 600px;
}

h1 {
  text-align: center;
    font-size: 30px;
    margin-bottom: 53px;
    margin-top: -46px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}


input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #475a3b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

footer {
  text-align: center; /* Centre le texte dans le pied de page */
  margin-top: 20px; /* Espacement au-dessus du pied de page */
  font-size: 14px; /* Taille de la police */
  color: #777; /* Couleur grise claire du texte */
  background-color: #46352A;
  font-family: sans-serif;
}

img {




}